.filtr-item {
    padding: 1rem;
}

/* Filter controls */
.multifilter {
    padding: 0px;
}
.multifilter li{
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.multifilter li {
    background-color: #ededed;
    margin: 5px 2px;
    color: #000;
    border-radius: 20px;
}
.multifilter li.active {
    background-color: #00a0a6;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .multifilter {
        font-size: 11px;
    }
}
