
.icon {
  color: #fff;
  display: block;
  padding: 20px 0px;
}

.text-faded span  {
  background: #001213 ;
  color: #fff;
  padding: 5px 20px;
}
    
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  background-color:#002527;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  position: relative;
  padding-top: 4em;
  padding-bottom: 4em;
  }

/*the vertical line*/
#cd-timeline:before{
    content: '';
    position: absolute;
    top: 10;
    bottom: 0;
    left: 60px;
    height: 100%;
    width: 1px;
    background: #d7e4ed;
  }


.cd-timeline-content {
  display: inline-block;
  position: relative;
  margin-left: 100px;
  background: #ededed;
  border-radius: 0.5em;
  padding: 2em;
  padding-top: 1em;

}
#cd-timeline.hidden:before {
  display: none;
}
/*DEFAULT - ODD BLOCK*/
.cd-timeline-block {
    position: relative;
 
}
.cd-timeline-content {
    float: left;
    padding: 1.6em;
    margin-bottom: 30px;
    width: 75%;
}
/*DEFAULT ARROW*/
.cd-timeline-content:before{
  content: '';
  left: -10px;
  top: 15px;
  width: 0; 
  height: 0; 
  position: absolute;
  border-bottom: 10px solid transparent;  /* left arrow slant */
  border-top: 10px solid transparent; /* right arrow slant */
  border-right: 10px solid #ededed; /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
}
  
.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 42px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00a0a6;
}
.cd-timeline-img .fa-briefcase  {
    position: absolute;
    display: block;
    color: #fff;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }
  .cd-timeline-img .fa-graduation-cap   {
    position: absolute;
    display: block;
    color: #fff;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }

/*vertical line in the middle when on desktop*/
@media only screen and (min-width: 960px) {
  
/*the vertical line*/
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }

 
  .cd-timeline-content {
    margin-left: 50px;
    width: 42%;
  }

  .cd-timeline-img{
    left: 50%;
    margin-left: -20px;
    top: 18px;
     /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  
  /*Odd arrow, changes direction when responsive*/
  /*arrow odd*/
 /*DEFAULT - ODD BLOCK*/
.cd-timeline-block:nth-child(odd) {
    position: relative;
    clear: both;
}
.cd-timeline-content:nth-child(odd) {
    float: left;
    padding: 1.6em;
    margin-bottom: 30px;
    width: 75%;
}
  .cd-timeline-block:nth-child(odd) .cd-timeline-content::before{
    top: 24px;
    left: 100%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ededed;
    border-right: none;
  }
  
 

/*EVEN LIST - change directions */
  .cd-timeline-block:nth-child(even) .cd-timeline-content{
      float: right;
      top: auto;
      margin-right: 50px;
      clear: both;
      position: relative;
  }
  
  
/*animations*/
.cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }


}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
 .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

