a {
    color: #000000;
    text-decoration: none;
}

/* Disable hover on mobile */
a {
    pointer-events: none;
}

@media (hover: none) {
  a:hover { color: inherit; }
}

@font-face {
    font-family: jpang;
    src: url(fonts/jpang-font.ttf) format("truetype");
} 

img {
    image-rendering: auto;
}
.jumbotron.jpang {
    color: #00a0a6;
    background-color: #ffffff;
    font-family: 'Times New Roman', serif;
    padding: 60px 40px !important;
}

. .sdhk-quote {
    background-color: #1b1448;
}

.jumbotron.dailyui-brief {
    background-color: #fffcdd;
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.dailyui-brief li {
    list-style: none;
    text-align: left;
    font-size: 18px;
    padding-bottom: 8px;
}

.dailyui-brief p {
    text-align: left;
    padding-bottom: 0px;
}

.dailyui-icon {
    font-size: 35px !important;
    padding-bottom: 20px;
}
.dailyui-icon-div p {
    }

.quote {
    background-color:#fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    max-width: 600px;
    font-family: Times, serif;
    font-size: 25px;
    margin: 0 auto;
    padding-bottom: 30px;
    line-height: 1.5;
    text-align: justify;
}

.benefit-box {
    background-color: #fafafa;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 40px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 20px;
    
}
.benefit-box p {
    padding: 0px 20px;
    text-align: center;
}
.benefit-orange {
    background-color: #f68c1d;
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    margin: 0;
    padding-top: 0px;
    margin-bottom: 40px;
    color: #fff;
}

.benefit-orange p {
    font-size: 20px;
    padding-top: 10px;

}
.container-condensed {
    max-width: 1000px;
}
.fullscreen {
    padding:0px; 
    margin: 0px;
    width: 100%;
}

.travel-container {
    background-color: #0F0F0E;
    position: relative;
    text-align: center;
    padding: 60px 100px;
    font-family: 'Lato';
}

.travel-container.blurb {
    position: absolute;
    text-align: left;
    font-size: 18px;
    max-width: 600px;
}



.travel-img-img {
    position: relative;
    overflow: hidden;
}

.travel-img-caption {
    color: #959595;\
    /*
    background-color: rgba(0,0,0,0.8);
    padding: 5px 10px;
    */
}

.story-caption {
    text-align: center;
    font-size: 16px;
    color: #767676;
    font-style: italic;
}
.story-caption a {
    text-decoration: underline;
    color: #767676;
}
.pstory-icon {
     display: inline-block;
     max-width: 25px;
     height: auto;

}
.container {
    margin-top: 20px;
    /* text-align:  left; */
}
.remarks-i{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    color: #b3b3b3;
    font-style: italic;
    display:  block;
}
.remarks-i a {
    color:#b3b3b3 !important;
}
.remarks-i a:hover {
    color:#eb3812!important;
}
.emphasis-i {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    color: #535454;
    line-height: 120%;
    font-style: italic;
    padding-left: 10px;
}
.keywords {
    background-color: #FFFBCC;
}
.keywords-darkbg{
    background-color: rgba(0,0,0, 0.5);
}
.jumbotron p {
    font-size: 18px;
    font-weight: normal;
}

.jumbotron.quote h4 {
    line-height: 140%;
}
.heading {
    font-size: 50px;
}
.section-heading {
    line-height: 1.4;
}
.section-description {
    text-transform: uppercase;
    color:#333;
    font-size: 16px;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif
}


}
.howto {
    background-color: #a60600;
    border-radius: 4px;
    padding: 2px 6px;
    color: #ffffff;
    font-weight: bold;
}

.howto:hover {
    color: #000000 !important;
}

.ddus-link:hover {
    color: #000000 !important;
}

.ddus {
    background-color: #00a0a6;
    border-radius: 4px;
    padding: 2px 6px;
    color: #ffffff;
    font-weight: bold;
}
.learn {
    background-color: #FF8800;
    border-radius: 4px;
    padding: 2px 6px;
    color: #ffffff;
    font-weight: bold;
}

.hackathon {
    background-color: #f4c811;
    border-radius: 4px;
    padding: 2px 6px;
    color: #ffffff;
    font-weight: bold;
}

.nostalgic {
    background-color: #00a0a6;
    border-radius: 4px;
    padding: 2px 6px;
    color: #ffffff;
    font-family: 'Lato';
}

.soon {
    background-color: #00a0a6;
    border-radius: 4px;
    padding: 2px 6px;
    color: #ffffff;
    font-weight: bold;
}

.caption-img {
    position: relative;
    
}


.caption-circle {
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    padding: 0px 20px;
    color: #000;
}
.cd-timeline-img.fa-light{
    background-color: #ffffff !important;
    
}

.cd-timeline-img.fa-light i {
    color: #00a0a6 !important;
}

.caption-circle {
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    padding: 0px 20px;
    color: #000;
}
.cd-timeline-img.fa-light{
    background-color: #ffffff !important;
    
}

.cd-timeline-img.fa-light i {
    color: #00a0a6 !important;
}



.hero-heading-turq{
    color: #00a0a6;
}

.hero-heading-white{
    color: #fff;
    font-weight: bold;
    padding-top:  0px;
}

    
}

.engagement {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: left center;
    background-image: url(../img/portfolio/engagement/hero.jpg);
    width: 100%;
    height: 400px;

}

.hero .engagement {
    padding-top: 0px;
}
.engagement-acqemail {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size:  contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/portfolio/engagement/acq-email.jpg);
    width: 100%;
    min-height: 450px;
   height: auto;
}


.personalization {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center;
    background-image: url(../img/portfolio/personalization/header-hero.jpg);
    color: #fff;
    width: auto;
    height:  350px;
}

.gamification {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center;
    background-image: url(../img/portfolio/gamification/hero.jpeg);
    color: #fff;
    width: auto;
    height:  350px;
}


.sdhk {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center;
    background-image: url(../img/portfolio/sdhk/sdhk-hero.jpg);
    color: #fff;
    width: 100%;
    height: 380px;
}
.uxpa {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center;
    background-image: url(../img/portfolio/uxpa/herobg.jpg);
    color: #fff;
    width: 100%;
    height: 350px;
}
.ciid {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center;
    background-image: url(../img/portfolio/ciid/bg.jpg);
    color: #fff;
    width: 100%;
    height: 350px;

}


.hackhorizon {
      -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: left center;
    background-image: url(../img/portfolio/hackhorizon/bg-new.jpg);
    background-position: left center;
    color: #fff;
    width: 100%;
    height: 400px;
}
.emergingmkt{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: left bottom;
    background-image: url(../img/portfolio/emergingmkt/hero.jpg);
    width: 100%;
    height: 500px;
}
.hero-folio-div {
    
    padding-top: 50px;
    height: 500px;
    line-height: 1.3;
    font-weight: bold;
    text-align: center;
    
}
.hero-folio-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center center;
    height: 100%;
    margin: auto;
    padding: 10px;
    position: relative;
}
.onboarding{
    background-image: url(../img/portfolio/onboarding/hero.png); 
    width: 400px;
    height: 100%;

}

.apidx {
    background-image: url(../img/portfolio/apidx/hero.jpg);
    max-width: 550px;   
}
.convodesign {
    background-image: url(../img/portfolio/convodesign/hero.jpg);
    width: 100%;
    height:100%;
}

.compliancelx {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center center;
    background-image: url(../img/portfolio/compliance-lx/lx-hero.jpg);
    background-position: center center;
    color: #fff;
    width: 100%;
    height: 550px;
}


.sdhk {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: right center;
    background-image: url(../img/portfolio/sdhk/hero.jpg);
    width: 100%;
    height: 550px;
}

.gsjam {
     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center;
    background-image: url(../img/portfolio/servicejam/gsjam.jpg);
    color: #fff;
    width: 100%;
    height: 400px;

}
.gsjam .hero-title-white{
    padding-top: 200px;
}

.container-travelblog {
    padding-bottom: 60px;
    
}
.typography {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center;
    background-image: url(../img/portfolio/typography/hero.jpg);
    width: 100%;
    height: 380px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.gsjam-hellobox {
   /* The image used */
    background-image: url("../img/portfolio/servicejam/helloboxx.jpg");

    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bagelmorn {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center center;
    background-image: url(../img/portfolio/bagelmorn/bg.jpg);
    color: #fff;
    width: 100%;
    height: 350px;
}
.bagelmorn-hero-title {
    padding-top: 180px !important;
    color: #000;
}
.dailyui {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center center;
    background-image: url(../img/portfolio/dailyui/bg.jpg);
    color: #fff;
    width: 100%;
    height: 420px;
}
.dailyui-hero-title {
    padding-top: 140px;
}
.hacktrain {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center center;
    background-image: url(../img/portfolio/hacktrain/header-hero.jpg);
    color: #fff;
    width: 100%;
    height: 400px;
}

.hacktrain-app {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center;
    background-image: url(../img/portfolio/hacktrain/mtrapp.jpg);
    position: relative;
    color: #fff;
    width: 100%;
    height: 400px;
}
/*
.hacktrain-app-logo {
    position: absolute;
    width: 300px;
    height: auto;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    right: 0;
}
*/
.mtrapp-logo {
    width: 300px;
    height: auto; 
    margin: 0 auto;
}

.kollabo-logo {
    width: 500px;
    padding-top: 50px;
    height: 100%; 
    margin: 0 auto;
}

.hacktrain-hero-title {
    padding-top: 180px;
    color: #fff;
}
.blackbg-txt span{
    background-color: rgba(0, 18, 19, 0.6);
    padding: 5px 10px;
}
/*TRAVEL PAGE*/
#map {
    width: 100%;
    height: 350px;
    margin-top: 50px;
    background-color: grey;
}

#map-test {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    margin-top: 50px;
    position: relative;
    
}



#map-se {
    background-color: #ffffff;
    width: 150px;
    
}
#inspo {
    color: #fff;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,160,166,0.7);
    /*border: #4c4c4c 1px solid;*/
    color: #fff;
    border-radius: 4px;
    width: 400px;
    padding: 10px;
}

#milestone {
    left: 0;
    bottom: 0;
    float: left;
    z-index: 999;
    text-align: left;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    width: 35%;
    padding: 10px;
    border-radius: 4px;
}


.blurb {
    font-size: 16px;
}

.blurb-link {
    color: #00a0a6;
    font-weight: bold;
    text-decoration: underline;
}

.blurb-link:hover {
    text-decoration: none;
    color: #00a0a6;
}
.blurb-link-white {
    text-decoration: underline;
    color: #fff;
}
.resume-intro {
    padding-top: 60px;
    padding-bottom: 40px;
}
.navbar-subpages {
    background-color: #ffffff;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    font-weight: bolder;
    text-align:center;
}
.navbar-fixed-top {
    margin-bottom: 0px;
}

.light {
    margin-top: 0px;
}
.blog-format {
    padding-top: 40px;
    margin-bottom: 60px;
}

.hr-dot {
    border-color: #00a0a6;
    border-width: 3px;
    max-width: 30px;
}
.hr-blog{
    max-width: 100% !important;
    border-color: #a9a9a9 !important;
    border-width: 3px !important;
    border-radius: 4px !important;
}

.hero.travelguides {
   padding-bottom: 30px;
}
.hero.travelguides .col-md-3 {
    padding: 10px !important;
}


.hero.travelguides img {
    box-shadow: 2px 2px 2px #ededed;
}

#background {
    margin-top: 50px;
    height: auto;
    position: absolute;
    top:0;
    left:0;
    bottom: 50%;
    height: 100%;
    width: 100%;
    height: 480px;
    z-index: -999;
    overflow: hidden;
    padding-bottom: 20px;
}

.navbar-focused {
    color: #009FA6 !important;
}


.hero-title {
    padding-top: 100px;
    color: #000;
}
.hero-title-white {
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}


/* Image formatting */
.img-responsive {
    width: 100%;
}


.pfolio-row {
    margin: 20px;
}
.pfolio-img{
    margin: 0 auto;
}
.pfolio-img-fs{
    margin: 0 auto;
    
}

.portfolioimg {
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    padding: 10px;
}

.adjust {
    max-width: 50%;
    margin: 0 auto;
}

.adjust2 {
    max-width: 70%;
    margin: 0 auto;
}

.adjust3 {
    max-width: 60%;
    margin: 0 auto;

}
.adjust1 {
    max-width: 80%;
    margin: 0 auto;
}

.adjust-mini{
    max-width: 35%;
    margin: 0 auto;
}

.youtube-embed {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}
.hidden {
    opacity:0;
    transition: all 0.8s;
}

.show {
    opacity: 100;
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}

.fade-up {
    animation: fadeUp 600ms ease-in-out-forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.folio.col-sm-4{
    padding: 30px 20px;
    text-align: left;
}

.thumbnail-onboarding {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/thumbnail/onboarding.png);
    width: 100%;
    height: 420px;
}

.thumbnail-api {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/thumbnail/api-dx.png);
    width: 100%;
    height: 420px;
}

.thumbnail-convodesign {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-size: cover;
    background-position: center center;
    background-color: #8394EC;
    border-color: #ededed;
    background-repeat: no-repeat;
    background-image: url(../img/thumbnail/convodesign.png);
    width: 100%;
    height: 420px;
}

.thumbnail-compliancelx {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-size: cover;
    background-position: center center;
    border-color: #ededed;
    background-repeat: no-repeat;
    background-image: url(../img/thumbnail/compliance-lx.png);
    width: 100%;
    height: 420px;
}

.thumbnail-sdhk {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-size: cover;
    background-position: right center;
    border-color: #ededed;
    background-repeat: no-repeat;
    background-image: url(../img/thumbnail/sdhk-workshop.png);
    width: 100%;
    height: 420px;
}

.thumbnail-ciid {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-size: cover;
    background-position: right center;
    border-color: #ededed;
    background-repeat: no-repeat;
    background-image: url(../img/thumbnail/ciid.png);
    width: 100%;
    height: 420px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    top: 0px;
    position: relative;
    transition: top ease 0.5s;
}
    
.card:hover {
    transform: translateY(-5px) translateZ(0);
    transition: all 0.2s ease-out;
    top: -4px;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.card-text {
    padding: 5px;
}

.card-text h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 8px;
    padding-top: 0px;
    line-height: 1.5;
}

.card-text p {
    font-size: 16px;
    color: #767676;
    margin-bottom: 0px;
    padding-bottom:0px;
}


@media only screen and (max-width: 768px) {
    .pfolio-img {
        max-width: 100% !important;
    }
    .pfolio-img-fs {
        max-width: 90% !important;
    }
    .adjust {
        max-width: 100%;
    }

    .adjst2 {
        max-width: 100%;
    }
    
}

@media only screen and (min-width: 768px) {
    
    .pfolio-img-fs {
        max-width: 60% !important;
    }
   
    
}

.blog-img {
    padding-bottom: 30px;
}
.pfolio-thumb {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
}

.pfolio-caption {
    position: absolute;
    width: 100%;
    
}
.hero-about .col-lg-4 {
   margin-bottom: 60px;
}
.hero-about {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../img/hero-about-resized.jpg);
    color: #fafafa;
    position: relative;
    width: 100%;
    height: 620px;
}

.travelblog-hero {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../img/portfolio/travelblog/hero-bg.jpg);
    width: 100%;
    color: #fafafa;   
    height: 400px;
}

.sidebar {
    padding: 25px;
    margin-top: 25px;
    height: auto;
    min-height: 350px;
    background-color: #ededed;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.sidebar p {
    font-size: 14px;
}

.sidebar img {
    width: 100%;
}


.next {
    position: fixed;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: white; 
    background-color: rgb(0, 160, 166);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px; 
    display: none;
}

.prev {
    position: fixed;
    left: 0;
    bottom: 0;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 160, 166);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px; 
    display: none;
}

.next:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.prev:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}



@media (max-width:768px) {
    .hero-title h1 {
        font-size: 40px !important;
        padding: 30px !important;
    }
    .folio.col-sm-4{
    padding: 20px;
}

    
}
