

@font-face {
    font-family: jpang;
    src: url(fonts/jpang-font.ttf) format("truetype");
} 

body {
    background-color: #006064;
    color: #fff;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    font-size: 16px;
    font-weight: 300;
}


#next {
    position: fixed;
    top: 50%;
    right: 2%;
    text-decoration: none;
    color: #fff;
    background-color: rgba(31,31,31,0.7);
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px;
    display: block;
}

#prev {
    position: fixed;
    top: 50%;
    left: 2%;
    text-decoration: none;
    color: #fff;
    background-color: rgba(31,31,31,0.7);
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;    
    
}
.round {
    border-radius: 50%;
}

#prev:hover {
    background-color: #262626;
    text-decoration: none;
}

#next:hover {
    background-color: #262626;
    text-decoration: none;
}



.jumbotron.jpang {
    color: #00a0a6;
    background-color: #ffffff;
    font-family: 'Times New Roman', serif;
    padding: 60px 40px !important;
}

.jumbotron.sdhk-quote {
    background-color: #1b1448;
}

.quote {
    color: #666;
    max-width: 600px;
    font-family: Times, serif;
    font-size: 25px;
    margin: 0 auto;
    border: none;
    padding-bottom: 30px;
    line-height: 1.5;
    text-align: justify;
}


.container-condensed {
    max-width: 600px;
    padding: 20px 40px;
}

.travel-container {
    background-color: #0F0F0E;
    position: relative;
    text-align: center;
    padding: 60px 100px;
    font-family: 'Lato';
}

.travel-container.blurb {
    position: absolute;
    text-align: left;
    font-size: 18px;
    max-width: 600px;
}




.container {
    margin-top: 20px;
    /* text-align:  left; */
}
.remarks-i{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    color: #b3b3b3;
    font-style: italic;
    display:  block;
}
.remarks-i a {
    color:#b3b3b3 !important;
}
.remarks-i a:hover {
    color:#eb3812!important;
}
.emphasis-i {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    color: #535454;
    line-height: 120%;
    font-style: italic;
    padding-left: 10px;
}
.keywords {
    background-color: #FFFBCC;
}

.jumbotron p {
    font-size: 18px;
    font-weight: normal;
}
.heading {
    font-size: 50px;
}
.section-heading {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.section-title {
    padding-top: 10px;
    color: #00a0a6;
    font-size: 20px !important;
    font-weight: bold;

}


.caption-img {
    position: relative;
    
}


.caption-circle {
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    padding: 0px 20px;
    color: #000;
}

.hero-heading-turq{
    color: #00a0a6;
}

.hero-heading-white{
    color: #fff;
    font-weight: 100;
    position: absolute;
}


.parallax-window {
    min-height: 400px;
    background: transparent;
}

/*Travel Moment Backgrounds*/
.southernlights {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/travel/s-lights.jpg);
    color: #fff;
    min-height: 100%;
    position: relative;
}






/*TRAVEL map*/
#map {
    width: 100%;
    height: 350px;
    margin-top: 50px;
    background-color: grey;
}

#map-test {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    margin-top: 50px;
    position: relative;
    
}

#map-se {
    background-color: #ffffff;
    width: 150px;
    
}
#inspo {
    color: #fff;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,160,166,0.7);
    /*border: #4c4c4c 1px solid;*/
    color: #fff;
    border-radius: 4px;
    width: 400px;
    padding: 10px;
}

#milestone {
    left: 0;
    bottom: 0;
    float: left;
    z-index: 999;
    text-align: left;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    width: 35%;
    padding: 10px;
    border-radius: 4px;
}


#contact-pg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    /*background-image: url(../img/contact-resize.jpg);*/
    background-color: #001919;
    color: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.blurb {
    font-size: 16px;
}

.blurb-link {
    color: #00a0a6;
    font-weight: bold;
    text-decoration: underline;
}

.blurb-link:hover {
    text-decoration: none;
    color: #00a0a6;
}
.blurb-link-white {
    text-decoration: underline;
    color: #fff;
}

.hr-dot {
    border-color: #00a0a6;
    border-width: 3px;
    max-width: 30px;
}
.hr-blog{
    max-width: 100% !important;
    border-color: #a9a9a9 !important;
    border-width: 3px !important;
    border-radius: 4px !important;

}

.navbar-focused {
    color: #009FA6 !important;
}


.hero-title {
    padding-top: 100px;
    color: #000;
}
.hero-title-white {
    left: 20%;
    right: 20%;
    top: 50%;
    position: absolute;
    color: #fff;
}

.img-responsive {
    width: 100%;
}
.pfolio-row {
    margin: 20px;
}
.pfolio-img{
    padding-bottom: 30px;
    padding-top: 20px;
    margin: 0 auto;
}

.portfolioimg {
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    padding: 10px;
}

.adjust {
    max-width: 50%;
    margin: 0 auto;
}

.adjust2 {
    max-width: 70%;
    margin: 0 auto;
}

.adjust-mini{
    max-width: 35%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .pfolio-img {
        max-width: 100% !important;
    }
    .adjust {
        max-width: 100%;
    }

    .adjst2 {
        max-width: 100%;
    }
    
}

.blog-img {
    padding-bottom: 30px;
}
.pfolio-thumb {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
}

.pfolio-caption {
    position: absolute;
    width: 100%;
    
}


.hero-about .col-lg-4 {
   margin-bottom: 60px;
}
.hero-about {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../img/hero-about-resized.jpg);
    color: #fafafa;
    position: relative;
    width: 100%;
    height: 620px;
}
.container.nutshell {
    padding-top: 50px;
    width: 100%;
    margin: auto;
    position: absolute;
    padding-bottom: 20px;
    text-shadow: 2px 2px #000000;
    font-size: 3em;
    line-height: 140%;
    width: 100%;
    display: block;
    top: 20%;
    bottom: 0;
    text-align: center;
}
.container.nutshell h1, h2, h3, h4, h5, h6, p {
    padding-bottom: 20px;
}

.travelblog-hero {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../img/portfolio/travelblog/hero-bg.jpg);
    width: 100%;
    color: #fafafa;   
    height: 400px;
}

.sidebar {
    padding: 25px;
    margin-top: 25px;
    height: auto;
    min-height: 350px;
    background-color: #ededed;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.sidebar p {
    font-size: 14px;
}

.sidebar img {
    width: 100%;
}






@media (max-width:768px) {
    .hero-title h1 {
        font-size: 40px !important;
        padding: 30px !important;
    }

    
}
