<!DOCTYPE html>
<html>
	<head>
		<!--
		{% load i18n %}
		{% load staticfiles %}
		{% get_current_language as LANGUAGE_CODE %}
	-->
		<title>✈ Taipei Travel Guide</title>

		<!-- Basic -->

		<!-- If you delete this meta tag World War Z will become a reality -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
		<!-- /Basic end -->


		<!--Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Roboto|Oswald" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'">
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
		
		<link href="css/style.css" rel="stylesheet" media="screen">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<!--javascript-->
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvX3Cq4Yjpk1qj5ebvR_z_pzXMxBImqSo"></script>

  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script type="text/javascript" src="js/map.js"></script>
		
		
		
		<!-- favicon 
		<link rel="apple-touch-icon" sizes="57x57" href="{% static "images/apple-icon-57x57.png" %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static "images/apple-icon-60x60.png" %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static "images/apple-icon-72x72.png" %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static "images/apple-icon-76x76.png" %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static "images/apple-icon-114x114.png" %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static "images/apple-icon-120x120.png" %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static "images/apple-icon-144x144.png" %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static "images/apple-icon-152x152.png" %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-icon-180x180.png" %}">
		<link rel="icon" type="image/png" sizes="192x192" href="{% static "images/android-icon-192x192.png" %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static "images/favicon-96x96.png" %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
		<link rel="manifest" href="./manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{% static "images/ms-icon-144x144.png" %}">
		<meta name="theme-color" content="#ffffff">
		favicon -->

		<!--media queries-->
		<style type="text/css">
			/* for 980px or more*/
			@media screen and (min-width: 980px) {
				
			}

			/* for 980px or less*/
			@media screen and (max-width: 980px) {
				.hero {
					background-position: center center;
				}
				
				
			}

			/* for 700px or less */
			@media screen and (max-width: 700px) {
				.travelguide-title h1 {
					font-size: 65px;
				}
				.travelguide-title h2 {
					font-size: 20px;
				}
				.travelguide_title {
					top: 15% !important;
				}
				.icon-img {
					width: 60%;
				}
				.localmovement {
					background-position: center left;
				}
			}

			@media screen and (max-width: 388px) {
				.travelguide-title h1 {
					font-size: 50px;
				}
				.travelguide-title h2 {
					font-size: 30px;
				}

				.travelguide_title {
					top: 15% !important;
				}
				
			}
		</style>
		
	</head>

	<body>
		<!--HEADER-->
		<div class="header">
			<div class="container-fluid navbar">
				<img src="images/logo-eng.png" alt="{% trans "asia-miles" %}" align="center" style="max-width:130px; text-align:center;">
				<h4 style="letter-spacing: 2px;">#TravelGoals&nbsp;</h4>
			</div>
		</div>
		<!--END HEADER-->

		<!--HERO PIC-->
		<div class="hero" style="background-image: url('images/TPE/hero-hero.jpg')">
				<div class="travelguide-title">
					<h1>Taipei  Travel  Guide</h1>
					<h2>✈ Miles Required: 15,000*</h2>
					<br>
				</div>
		
		</div>
		<!--END HERO PIC-->

		

		
		<!--CONTENT-->
		<div class="container text-center" style="margin-top: 40px;">
			
				<p class="AMway">The Asia Miles Way</p>
				<div class="row">
					<div class="col-xs-4">
						<img class="icon-img img-responsive" src="images/TPE/icon-foodparade.png" alt="Sweet Escapes">
						<br>
						<p class="icon-title">Food Parade</p>
					</div>
					<div class="col-xs-4">
						<img class="icon-img img-responsive" src="images/TPE/icon-local.png" alt="Food Parade">
						<br>
						<p class="icon-title">Local Movements</p>
					</div>
					<div class="col-xs-4">
						<img class="icon-img img-responsive" src="images/TPE/icon-escape.png" alt="Local Movements">
						<br>
						<p class="icon-title">The Sweet Escapes</p>
					</div>
					
				</div>
		</div>
		<div class="container content">
					<p class="content-text">Anywhere in Taipei city will guarantee to shower and lure you with all kinds of food from local street eats to bargain night markets to aromatic spicy hot pot to mom-and-pop local delicacies to themed coffee shops.</p>
					<br>
					<p class="content-text"> Where do you see yourself?</p>
					<br>
		</div>


		
			
		<div class="hero2" style="background-image: url('images/TPE/hero2-foodparade.jpg');">
			<div class="travelguide-title">
					<h3><span style="background-color: #272f38; padding: 6px 16px; opacity: 0.9;"><span style="font-size: 40px;">FOOD PARADE</span></h3>
			</div>
		</div>
		<div class="container content">
			<!--<p class="content-title"><b>HARBOR SIGHTS</b></p>-->
			<p class="content-text">Anywhere in Taipei city will guarantee to shower and lure you with all kinds of food from local street eats to aromatic spicy hot pot to mom-and-pop local delicacies to themed coffee shops.</p>
		</div>
		<div class="container">
			<!--ROW 1, OPERA HOUSE -->
			<div class="row">
				<div class="col-sm-7">
						<img class="picture" src="images/TPE/food-fuhang.jpg" alt="Harbor">
							<div class="photo-caption">
								<p class="caption-text">istolethetv ©flickr Taiwanese breakfast at Fu Hang Dou Jiang (阜杭豆漿)</p>
							</div>
				</div>

				<div class="col-sm-5">
					<img class="picture" src="images/TPE/food-brekkie.jpg"alt="Harbor">
					<div class="photo-caption">
								<p class="caption-text">Sinchen.Lin ©flickr Fresh soy milk and fried dough.</p>
							</div>
				</div>
					
			</div>
			
			<!--ROW 2, ROYAL BOTANIC GARDENS -->
			<div class="row">
				<div class="col-sm-4">
					<!--<div class="grid">
						<div class="grid-text">-->
							<img class="picture" src="images/TPE/food-beefnoodle.jpg" alt="Harbor">
								<div class="photo-caption">
									<p class="caption-text">Blowing Puffer Fish ©flickr<br> Taiwanese Beef noodle soup</p>
								</div>
					<!--</div>
					</div>-->
				</div>

				<div class="col-sm-4">
					<img class="picture" src="images/TPE/food-oystercake.jpg" alt="">
						<div class="photo-caption">
									<p class="caption-text">黃 zero ©flickr<br> Oyster Egg Pancake</p>
						</div>
				</div>
				
				<div class="col-sm-4">
					<img class="picture" src="images/TPE/food-tofu.jpg" alt="">
						<div class="photo-caption">
							<p class="caption-text">Stinky tofu<br>&nbsp;</p>
						</div>
				</div>
			</div>
		</div>
		
		<div class="container content">
			<p class="content-text">Coffee shops are popping up across Taiwan, let alone Taipei, a few of which have newfound ways to bring more character with guaranteed crowd-pleasing alpacas.</p>
		</div>
		
		<div class="container photogrid">
			<!--ROW 3, POTTS POINT -->
			<div class="row">
				<div class="col-sm-6">
					<!--<div class="grid">
						<div class="grid-text">-->
							<img class="picture" src="images/TPE/cafe-alpaca3.jpg" alt="Harbor">
					<!--</div>
					</div>-->
				</div>

				<div class="col-sm-6">
					<img class="picture" src="images/TPE/cafe-alpaca1.jpg" alt="">
				</div>
				<!--
				<div class="col-sm-5">
					<img class="picture" src="images/SYD/harbor3test2.jpg" alt="">
				</div>
			-->
			</div>
		</div>
			
		<div class="hero2 localmovement" style="background-image: url('images/TPE/hero2-localmovement.jpg');">
			<div class="travelguide-title">
				<h3><span style="background-color: #272f38; padding: 6px 16px; opacity: 0.9;"><span style="font-size: 40px;">LOCAL MOVEMENTS</span></h3>
			</div>
		</div>

		<div class="container content">
			<p class="content-text">The local arts and farm-to-table movement is evolving and making its presence at flea markets, local restaurants, refurbished historical complexes and pop-up stores.</p>
		</div>

		<div class="container photogrid">
			<div class="row">
				<div class="col-sm-7">			
					<img class="picture" src="images/TPE/local-creativepark.jpg" alt="Huashan Creative Park Exhibit">
					<div class="photo-caption">
						<p class="caption-text">Morgan Calliope ©flickr<br>Huashan Creative Park at a refurbished wine factory built in 1914</p>
					</div>
				</div>
				<div class="col-sm-5">			
					<img class="picture" src="images/TPE/local-art.jpg" alt="Huashan Creative Park Exhibit">
					<div class="photo-caption">
						<p class="caption-text">Cliffano Subagio ©flickr<br>The Beatles Exhibition at Huashan Creative Park</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<img class="picture" src="images/TPE/local-redhouse.jpg" alt="Hyde Park">
						<div class="photo-caption">
						<p class="caption-text">Kabacchi ©flickr<br>Ximending Red House, the first public market built in 1908</p>
						</div>
				</div>

				<div class="col-sm-4">
					<img class="picture" src="images/TPE/local-redhouseart.jpg" alt="">
					<div class="photo-caption">
						<p class="caption-text">Antonio Tajuelo ©flickr<br>Art piece at Ximending Red House</p>
					</div>
				</div>
			</div>
			
			
				
		</div>
			

		<div class="container content">
			<p class="content-text">We’ve also had the pleasure of experiencing the farm-to-table movement first hand at the more remote Yang Ming Shan National Park where they serve mantou (Chinese buns) freshly made from wheat, sweet potato and taro, and lightly marinated veggie produces.</p>
		</div>

		<div class="container photogrid">
			<div class="row">
				<div class="col-sm-7">
					<!--<div class="grid">
						<div class="grid-text">-->
							<img class="picture" src="images/TPE/local.jpg" alt="H">
					<!--</div>
					</div>-->
				</div>

				<div class="col-sm-5">
					<img class="picture" src="images/TPE/local-mantou.jpg" alt="">
				</div>
			</div>
		</div>


		<div class="hero2" style="background-image: url('images/TPE/hero2-escape.jpg');">
			<div class="travelguide-title">
					<h3><span style="background-color: #272f38; padding: 6px 16px; opacity: 0.9;"><span style="font-size: 40px;">THE SWEET ESCAPES</span></h3>
			</div>
		</div>
		<div class="container content">
			<p class="content-text">Yang Ming Shan National Park is one of many places where tourists and locals go just when you need a breather from the cityscape. </p>
		</div>
		<div class="container photogrid">
			
			<div class="row">
				<div class="col-sm-4">
					<!--<div class="grid">
						<div class="grid-text">-->
							<img class="picture" src="images/SYD/beach-bondi.jpg" alt="H">
					<!--</div>
					</div>-->
				</div>

				<div class="col-sm-8">
					<img class="picture" src="images/SYD/beach-coogee.jpg" alt="">
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<!--<div class="grid">
						<div class="grid-text">-->
							<img class="picture" src="images/SYD/beach-surf.jpg" alt="H">
					<!--</div>
					</div>-->
				</div>
			</div>

		</div>


		<!--END CONTENT-->
		<!--MAP-->
		<div id="map-canvas">
		</div>

		<!--END MAP-->
		<!--FIXED FOOTER-->
		<nav class="navbar navbar-fixed-bottom text-center">
  			<div class="container-fluid register">
  				<div class="container">
  					<a data-toggle="collapse" href="#collapse" style="color: #ffffff; text-decoration: none; font-family: 'Roboto', 'Helvetica', sans-serif; font-size: 16px; ">
  						<b>Feeling 5,000 miles? Tell Me More</b> <span class="glyphicon glyphicon-triangle-bottom" style="font-size: 12px;"></span>
  					</a>
  				</div>
  				<div id="collapse" class="collapse" style="margin">
  				<div class="container footer-table-p">Very simple!</div>
  					<div class="row" style="padding:30px;">
  						<div class="col-sm-6">
  							<p>Earn miles across 3 travel categories! Check out our Insider's Guide <a href="http://promotion.asiamiles.com/am/non-air-travelpromoSep2016/en/index.html?utm_source=am&utm_medium=homepagehero&utm_campaign=travelcrosspillar&utm_content=travelcrosspillar-am21ae1609&WAright=HomeBanner"; style="color: #facf00;"><b>here.</b></a>
  						</div>
  						<div class="col-sm-6">
  							<p>Be the first 100 lucky ones to register and get a chance to earn 5,000 miles!</p>
  						</div>
  					</div>	
  				<table class="footer-table">

  					<form action="http://119.9.93.34:4002/registration" method="post">
			      	<tr><td style="padding-bottom: 0px;">Member No.&nbsp; &nbsp;<input type="text" name="memberNumber" id="memberid" size="" style="border-color:#ededed"></td>
			      	</tr>
			      		
					<tr>
			      		<td style="padding-top: 0px;"><span style="font-size:8pt;">(Please enter your 10-digit membership number with no spaces in between ie. 111 xxxx 111.)</td>
			      	</tr>
			      	<tr>
			      		<td style="padding-top: 10px;"><button type="button" id="cta">Register Now</button></td>
			      	</tr>
			    	</form>
			    </table>
				</div>
  			</div>
		</nav>
		<!--END FOOTER-->

	</body>
</html>
